@model WebApplication3.Models.productmaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>productmaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorymaster.categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorymaster.categoryname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
