@model WebApplication3.Models.categorymaster

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>categorymaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productmaster.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productmaster.productname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
